[Unit]
Description=Battery Notifier
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env $(systemd-path user-binaries)/battery_notifier

[Install]
WantedBy=multi-user.target
