[Unit]
Description=Personal Homepage
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env /home/sanket143/Remote/lisa/bin/lisa

[Install]
WantedBy=multi-user.target
